{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "prettier/@typescript-eslint",
    "plugin:react-hooks/recommended"
  ],
  "rules": {
    "curly": "error",
    "@typescript-eslint/consistent-type-definitions": ["error", "interface"]
  }
}
